.viewports-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  gap: 2px;
  background: black;
  overflow: hidden;
}

.viewport {
  position: relative;
  border: 1px solid #333;
  width: 100%;
  height: 100%;
}

.viewport.active {
  border: 1px solid #eb4c4c;
}

.viewports-container:not(.maximized) .viewport {
  height: 50vh;
  width: 50vw;
}

.viewport canvas {
  width: 100% !important;
  height: 100% !important;
}

.viewports-container.maximized {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.viewports-container.maximized .viewport {
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  top: 0;
  left: 0;
  z-index: 999;
}
